// RESPONSIVE

@mixin tabletLarge {
	@media only screen and (max-width: 940px) {
		@content;
	}
}

@mixin tabletSmall {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

@mixin mobileLarge {
	@media only screen and (max-width: 425px) {
		@content;
	}
}

// FONTS

@mixin fontProp ($col, $fFamily, $fSize, $fWeight) {
	color: $col;
  font-family: $fFamily;
  font-size: $fSize;
  font-weight: $fWeight;
}

@mixin paragraphSpace ($lineHeight, $letterSpace) {
	line-height: $lineHeight;
	letter-spacing: $letterSpace;
}

// LAYOUT/ POSITIONING: CENTER

@mixin flexCenter ($acon, $item, $disp, $colu, $cent) {
	align-content: $acon;
	align-items: $item;
	display: $disp;
	flex-direction: $colu;
	justify-content: $cent;
}

@mixin position ($pos, $top, $rig, $bot, $lef) {
	position: $pos;
  top: $top;
  right: $rig;
  bottom: $bot;
	left: $lef;
}

// MISC

@mixin buttonProp ($back, $brad, $bord) {
	background: $back;
	border-radius: $brad;
	border: $bord;
}