.heroSubmit,
.firstSubmit,
.subSubmit,
.resetButton {
  @include buttonProp ($colComp, 10px, transparent);
  padding: 2.5% 5%;

  &:hover {
    background: $buttonHover;
    color: $wht;
    box-shadow: inset 1px 1px 2px $blk;
    text-shadow: 2px 2px 2px $blk;
  }
}

.firstSubmit,
.subSubmit,
.resetButton {
  box-shadow: 2px 2px 5px $blk;
  font-size: 0.8rem;
  margin-top: 10%;
  text-transform: uppercase;
}

.heroSubmit {
  box-shadow: 2px 2px 15px $blk;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.firstSubmit,
.subSubmit {
  margin-bottom: 7.5%;
}