form {
  background: $whtbg;
  border-radius: 20px;
  box-shadow: 5px 5px 15px $blk;

  label {
    padding: 0% 2.5%;

    &:hover {
      color: $colPrim;
      cursor: pointer;
    }
  }
}

.formTwo {
  margin: 7.5% 0%;
}
