// FONT

$fontPrim: 'Roboto', sans-serif;
$fontSeco: 'Raleway', sans-serif;

// COLOR PALETTE 

$colPrim: #55A4F1;
$colSeco: #FFD54C;
$colThrd: #FF864C;
$colComp: #FFB64D;
$wht: #FFFFFF;
$whtbg: #FAFAFA;
$blk: #000000;

// LINEWEIGHT

$light: '300';
$normal: '400';
$semibold: '400';
$bold: '700';

html {
	font-family: $fontSeco;
	font-size: 125%;
	scroll-behavior: smooth;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
}

.wrapper {
	@include flexCenter (null, null, flex, column, center);
	padding: 0% 25% 2.5%;
	width: 100%;
}

p {
	margin: 0%;
}

h1 {
	@include fontProp ($fontPrim, 7rem, 700);
	color: $wht;
	text-shadow: 5px 2px 5px $blk;
}

h2 {
	@include fontProp ($fontPrim, 2.25rem, 700);
	letter-spacing: 2px;
}