// FONT

$fontPrim: 'Luckiest Guy', cursive;
$fontSeco: 'Raleway', sans-serif;

// COLOR PALETTE 

$colPrim: #55A4F1;
$colSeco: #FFD54C;
$colThrd: #FF864C;
$colComp: #FFB64D;

$wht: #FFFFFF;
$whtbg: #FAFAFA;
$blk: #000000;

$buttonHover: #FFDCAA;
$shadow: #C0C0C0;

// LINEWEIGHT

$light: '300';
$normal: '400';
$semibold: '500';
$bold: '700';

html {
	font-family: $fontSeco;
	font-size: 125%;
	scroll-behavior: smooth;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
	width: 100%;
}

.wrapper {
	@include flexCenter (null, null, flex, column, center);
	padding: 0% 25%;
	width: 100%;
}

h1 {
	@include fontProp ($wht, $fontPrim, 6rem, 700);
	margin:	0%;
	line-height: 150px;
	text-shadow: 5px 2px 10px $blk;
}

h2 {
	@include fontProp (null, $fontPrim, 2.25rem, 700);
	text-shadow: 2.5px 2.5px 2px $shadow;
}

h3 {
	@include fontProp (null, $fontPrim, 2rem, 700);
	margin: 2.5% 0% 5%;
}

a {
	text-decoration: none;
}