header {
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(85, 164, 241, 1)), url(/assets/heroTorontoOpti.jpg) no-repeat fixed;
	background-size: cover;
	display: flex;
	height: 100vh;
	max-width: 100%;

	.wrapper {
		margin-bottom: 0%;
	}

	.heroContent h1,
	.heroContent p,
	.heroButtonContainer {
		text-align: center;
	}

	.heroContent p {
		@include fontProp ($wht, null, 1.15rem, null);
		letter-spacing: 2px;
		line-height: 25px;
		margin: 5% 0%;
		text-shadow: 1px 1px 1px $blk;
	}
}

@include tabletLarge {

	.hero .wrapper {
		padding: 0% 10%;
	}
}

@include tabletSmall {

	.heroContent p {
		padding: 0% 10%;
	}
}

@include mobileLarge {

	.hero .wrapper {
		padding: 0%;
	}

	.heroContent {

		h1 {
			font-size: 6rem;
			padding: 0% 2.5%;
		}

		p {
			font-size: 1rem;
			padding: 0% 2.5%;
		}
	}
}