header {
  background: linear-gradient($colPrim, $colPrim);
	display: flex;
	height: 100vh;
	max-width: 100%;

	.wrapper {
		margin-bottom: 0%;
	}

	.heroContent h1,
	.heroContent p,
	.heroButtonContainer {
		text-align: center;
	}

	.heroContent p {
		font-size: 1.15rem;
		color: $wht;
		letter-spacing: 2px;
		line-height: 25px;
		// padding: 5% 0% 10%;
		text-shadow: 1px 1px 1px $blk;
	}
}