header {
  background: linear-gradient($colPrim, $colPrim);
	display: flex;
	height: 100vh;
	max-width: 100%;

	.wrapper {
		margin-bottom: 0%;
	}

	.heroContent h1,
	.heroButtonContainer {
		text-align: center;
	}
}