.questions {
  background: linear-gradient($colPrim, $colSeco);
	display: flex;
}

.questionsOne,
.questionsTwo {
  text-align: center;
}

.questionsOne p,
.questionsTwo p,
.results p {
  font-style: italic;
}

.questionsOne {

  h2 {
    padding: 0% 20%;
  }

  p {
    padding: 0% 15%;
  }
}