.questions {
  background: linear-gradient($colPrim, $colSeco);
	display: flex;
}

.questionsOne,
.questionsTwo {
  text-align: center;
}

.questionsTwoA,
.questionsTwoB {
  @include flexCenter (null, center, flex, column, null);
}