.results {
  background: linear-gradient($colSeco, $colThrd);
	display: flex;
}

.resultsContent {
  @include flexCenter (null, center, flex, column, null);
  background: $wht;
  border-radius: 20px;
  box-shadow: 2px 2px 15px $blk;
  padding: 5%;
  text-align: center;
}