html {
  font-family: "Raleway", sans-serif;
  font-size: 125%;
  scroll-behavior: smooth;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0% 25%;
  width: 100%;
}

h1 {
  color: #FFFFFF;
  font-family: "Luckiest Guy", cursive;
  font-size: 6rem;
  font-weight: 700;
  margin: 0%;
  line-height: 150px;
  text-shadow: 5px 2px 10px #000000;
}

h2 {
  font-family: "Luckiest Guy", cursive;
  font-size: 2.25rem;
  font-weight: 700;
  text-shadow: 2.5px 2.5px 2px #C0C0C0;
}

h3 {
  font-family: "Luckiest Guy", cursive;
  font-size: 2rem;
  font-weight: 700;
  margin: 2.5% 0% 5%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.heroSubmit,
.firstSubmit,
.subSubmit,
.resetButton {
  background: #FFB64D;
  border-radius: 10px;
  border: transparent;
  padding: 2.5% 5%;
}

.heroSubmit:hover,
.firstSubmit:hover,
.subSubmit:hover,
.resetButton:hover {
  background: #FFDCAA;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.firstSubmit,
.subSubmit,
.resetButton {
  -webkit-box-shadow: 2px 2px 5px #000000;
          box-shadow: 2px 2px 5px #000000;
  font-size: 0.8rem;
  margin-top: 5%;
  text-transform: uppercase;
}

.heroSubmit {
  -webkit-box-shadow: 2px 2px 15px #000000;
          box-shadow: 2px 2px 15px #000000;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.firstSubmit,
.subSubmit {
  margin-bottom: 7.5%;
}

.resetButton {
  padding: 5%;
}

form {
  background: #FAFAFA;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px #000000;
          box-shadow: 5px 5px 15px #000000;
}

form label {
  padding: 0% 2.5%;
}

form label:hover {
  color: #55A4F1;
  cursor: pointer;
}

.formTwo {
  margin: 7.5% 0%;
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF864C));
  background: linear-gradient(#FF864C);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wrapper {
  padding-bottom: 0%;
}

footer p {
  text-align: center;
}

footer .credits {
  position: absolute;
  bottom: -30.5%;
  left: 2.5%;
}

footer .credits i {
  font-size: 1.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer .credits i:hover {
  color: #55A4F1;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

footer .creditsBox {
  position: absolute;
  bottom: -22.5%;
  left: -15.5%;
  background: rgba(85, 164, 241, 0.5);
  font-size: 0.8rem;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 15%;
}

footer input {
  display: none;
}

footer input:checked + .creditsBox {
  left: 2.5%;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#55a4f1)), url(../assets/heroTorontoOpti.jpg) no-repeat fixed;
  background: linear-gradient(rgba(0, 0, 0, 0), #55a4f1), url(../assets/heroTorontoOpti.jpg) no-repeat fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  max-width: 100%;
}

header .wrapper {
  margin-bottom: 0%;
}

header .heroContent {
  text-align: center;
}

header .heroContent i {
  color: #FFB64D;
  font-size: 6.5rem;
  text-shadow: 5px 2px 10px #000000;
}

header .heroContent p {
  color: #FFFFFF;
  font-size: 1.15rem;
  letter-spacing: 2px;
  line-height: 25px;
  margin: 0% 0% 5%;
  text-shadow: 1px 1px 1px #000000;
}

header .contact {
  margin-top: 5%;
}

header .contact i {
  color: #FFB64D;
  font-size: 2rem;
  padding: 0% 2.5%;
}

header .contact i:hover {
  color: #FFDCAA;
}

@media only screen and (max-width: 940px) {
  .hero .wrapper {
    padding: 0% 10%;
  }
}

@media only screen and (max-width: 768px) {
  .heroContent p {
    padding: 0% 10%;
  }
}

@media only screen and (max-width: 425px) {
  .hero .wrapper {
    padding: 0%;
  }
  .heroContent h1 {
    font-size: 5.5rem;
    padding: 0% 2.5%;
  }
  .heroContent p {
    font-size: 1rem;
    padding: 0% 5%;
  }
}

.questions {
  background: -webkit-gradient(linear, left top, left bottom, from(#55A4F1), to(#FFD54C));
  background: linear-gradient(#55A4F1, #FFD54C);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.questions .wrapper {
  padding-top: 5%;
}

.questionsOne,
.questionsTwo {
  text-align: center;
}

.questionsOne p,
.questionsTwo p,
.results p {
  font-style: italic;
}

.questionsOne h2 {
  padding: 0% 20%;
}

.questionsOne p {
  padding: 0% 15%;
}

@media only screen and (max-width: 940px) {
  .questions .wrapper {
    padding-top: 0%;
  }
}

@media only screen and (max-width: 768px) {
  .questions .wrapper {
    padding: 0% 10%;
  }
}

@media only screen and (max-width: 425px) {
  .questions .wrapper {
    padding: 0% 5%;
  }
  .questionsOne h2 {
    padding: 0% 2.5%;
  }
  .questionsOne p {
    padding: 0% 5%;
  }
  .questionsTwo .flexAlign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0% 10%;
  }
}

.results {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFD54C), to(#FF864C));
  background: linear-gradient(#FFD54C, #FF864C);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resultsContent {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 15px #000000;
          box-shadow: 2px 2px 15px #000000;
  padding: 5%;
  text-align: center;
}

@media only screen and (max-width: 425px) {
  .resultsContent h3 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 768px) {
  .results .wrapper {
    padding: 0% 10%;
  }
}

@media only screen and (max-width: 425px) {
  .results .wrapper {
    padding: 0% 5%;
  }
}
/*# sourceMappingURL=styles.css.map */